<% content_for(:title, 'Settings') %>
<h2>Change your password</h2>
<div class="pb-5">
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="pt-2 shadow pb-4 mt-5 container col-lg-5 mb-5 col-md-6">
      <div class="field">
        <%= f.label :password, "New password" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "text-black bg-light" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-black bg-light" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "btn shadow btn-block bg-color text-white mt-3" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
