<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/social-likes/dist/social-likes_birman.css">
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/social-likes/dist/social-likes.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show container w-50 text-monospace alert-pos">
        <p class="notice"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show container w-50 text-monospace alert-pos">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
    <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
  </body>
</html>
